div.modal-content.react-bs-table-insert-modal {
    overflow: scroll;
    height: 500px;
}

.modal-content {
    overflow: scroll
}

.react-bs-table-insert-modal {
    overflow: scroll
}

.ReactModalPortal {
    overflow: scroll
}
.react-bs-table-inser-modal-header{
    display: contents !important
}
.modal-footer, .react-bs-table-inser-modal-footer{
    border:none !important
}
h4.modal-title{
    padding-top:20px;
    text-align: center;
}
.form-control{
    display: initial !important
}
/* input.form-control.editor.edit-text{
    display:none;
    visibility:hidden;
}
.form-group{
    margin: 0 !important
}
.modal-body{
    padding-top: 0px !important
} */