div.modal-content.react-bs-table-insert-modal {
    overflow: scroll;
    height: 500px;
}

.modal-content {
    overflow: scroll
}

.react-bs-table-insert-modal {
    overflow: scroll
}

.ReactModalPortal {
    overflow: scroll
}