div.modal-content.react-bs-table-insert-modal {
    overflow: scroll;
    height: 500px;
}

.modal-content {
    overflow: scroll
}

.react-bs-table-insert-modal {
    overflow: scroll
}

.ReactModalPortal {
    overflow: scroll
}
.react-bs-table-inser-modal-header{
    display: contents !important
}
.modal-footer, .react-bs-table-inser-modal-footer{
    border:none !important
}
h4.modal-title{
    padding-top:20px;
    padding-left: 20px
}