:root {
    --yellow: #ffc600;
  }

  html {
    color: #444;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  p {
    line-height: 1.8;
  }

  img {
    max-width: 100%;
  }

  a {
    color: black;
    text-decoration: underline wavy var(--yellow);
  }

  h1,
  h2 {
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
  }
  .post{
    display: grid;
    max-width: 1000px;
    margin: 200px auto;
    grid-gap: 10px 50px;
    grid-template-columns: 3fr 12fr 5fr;
  }
  .post >* {
    grid-column: 2 /-2;
  }
  .post>figure{
    margin: 0;
    grid-column: 1/-1;
  }
  figcaption{
    font-size: 10px;
  }
  .post > blockquote {
    margin: 0;
    grid-column: 1/-1;
    font-size: 60px; 
    font-style: italic;
    text-align: center;
  }
  .tip{
    background: #FAFAFA;
    padding: 10px;
    grid-row: span 5;
    align-self: flex-start;
  }
  .tip-right{
    grid-column: span 1 /-1;
    text-align: left;
    border-left: 2px solid var(--yellow);
  }
  .tip-left{
    grid-column: 1/1;
    text-align: right;
    border-right: 2px solid var(--yellow);
  }
  .foodContainer{
    width: 80%;
    height: 200px;
    /* background-color: purple; */
  }
  #fooddata {
    background-color: rgb(206, 216, 219);
    margin: 10px;
    font-size: 24px;
    border: 0px;
  }
  #foodsearch {
    margin: 10px;
    text-align: center;
  }
  #foodsearchbutton {
   text-align: center;
    
  }
  #searchlabel {
    font-size: 30px;
  }
  #searchbutton {
      background-color: rgb(206, 216, 219);
      color: rgb(126, 126, 126);
      border: 0px;
  }
  #searchbutton:active {
    background-color: gray;
}