#navbar {
    background-color: #404040;
}
#navbutton {
    background-color: white;
    color: rgb(126, 126, 126);
    border: 0px;
    margin-top: 30px;
    border-radius: 6px 6px 0px 0px;
    padding-top: 10px;
}
#navbuttonton:active {
    background-color: gray;
}
.fas{
    color:#ffffff;
}